body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: white;
    /* Light Blue */
}


.container {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    @media (max-width: 767px) {
        width: 98%;
    }
}


h1,
h2 {
    color: #333333;
    /* Green */
}

p {
    font-size: 18px;
}

.navbar.navbar-light {
    background: #F58B8F;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #333333;

}

.navbar-toggler-icon {
    background-color: #F58B8F;
    border-radius: 100%;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
    border-radius: 100%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}


.navbar {
    background-color: #E4F1A9;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #333;
}

.nav-link:hover {
    transition: border-bottom 0.3s ease;
    color: #000000;
    /* Change the color to your preferred hover color */
}



.focus-section,
.play-section,
.benefits-section {
    margin-top: 30px;
}

.welcome_top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_img {
    /* Set the maximum dimensions for the container */
    max-width: 100%;
    max-height: 100%;
    /* Ensure the image does not exceed its container's dimensions */
    width: auto;
    height: auto;
}

.welcome-img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* For Smaller Screens */
@media (max-width: 768px) {

    .welcome_img {
        display: block;
        text-align: center;
    }
}

.description {
    max-width: 100%;
    max-height: 100%;
}

.welcome-description {
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.welcome-description .highlight {
    font-weight: bold;
    color: #71d2ef;
    /* Blue color, you can adjust it as needed */
}

.welcome-description ul {
    list-style-type: disc;
    margin-left: 20px;
}

.welcome-description ul li {
    margin-bottom: 8px;
}

.welcome-description br {
    line-height: 1.2;
}

.welcome-img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 0px;
}


/* Styles for larger screens */
@media (min-width: 768px) {
    .focus-section {
        padding: 20px;
        /* Adjust padding for larger screens */
    }

    #carouselExample img {
        max-width: 100%;
        height: auto;
    }

    #carouselExample span {
        font-size: 18px;
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .focus-section {
        /* Adjust padding or other styles for smaller screens */
        padding: 10px;
    }

    #carouselExample img {
        /* max-width: 100%; */
        width: 77%;
        height: auto;
    }

    #carouselExample span {
        font-size: 2vh;
    }
}


/* Headings of Description in Carousels */
#what-we-focus,
#power-of-play,
#Family-Centered,
#assessment-centered,
#benefits,
#safe-space {
    text-align: center;
    font-weight: bolder;
}




/* Carousels styles */

.focus-section,
.play-section,
.Family-Centered-section,
.assessment-centered-section,
.benefits-section {
    background-color: #F7D6D5;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.focus-description,
.play-description,
.family-description,
.assessment-description,
.benefit-description {
    font-size: 18px;
    display: block;
    margin-top: 10px;
    text-align: center;
}

#focusCarousel img,
#playCarousel img,
#familyCarousel img,
#assessmentsCarousel img,
#benefitsCarousel img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 175px;
    margin: 10px auto;
}

/* For smaller Screens */
@media (max-width: 768px) {

    #focusCarousel img,
    #playCarousel img,
    #familyCarousel img,
    #assessmentsCarousel img,
    #benefitsCarousel img {
        width: 80%;
    }

    #benefitsCarousel img {
        max-height: 180px;
        width: auto;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
    }

    .carousel-control-prev {
        left: -3%;
    }

    .carousel-control-next {
        right: -3%;
    }
}

.carousel-control-next,
.carousel-control-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: coral;
    position: absolute;
    opacity: 0.8;
}

.carousel-control-prev {
    left: -1%;
    top: 32%;
}

.carousel-control-next {
    right: -1%;
    top: 32%;
}

.focus-description {
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

/* Carousels Ended */


/* Footer */
.footer .container2 {
    margin-top: 20px;
    background: #F58B8F;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.footer .container2 a img {
    max-width: 30px;
    height: auto;
    border-radius: 10px;
}

/* Footer Ended */